Repository vinteo/ShinobiDocker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-feature-microservice-alpine, build-feature-microservice-arch, build-feature-microservice-debian, release-feature-microservice-alpine, release-feature-microservice-arch, release-feature-microservice-debian

build-feature-microservice-alpine:
  stage: build
  script:
  - /bin/bash ./gitlab-ci/buildImage.sh "dev" "microservice-alpine"

build-feature-microservice-arch:
  stage: build
  script:
  - /bin/bash ./gitlab-ci/buildImage.sh "dev" "microservice-arch"

build-feature-microservice-debian:
  stage: build
  script:
  - /bin/bash ./gitlab-ci/buildImage.sh "dev" "microservice-debian"

release-feature-microservice-alpine:
  stage: release
  script:
  - /bin/bash ./gitlab-ci/preReleaseHook.sh
  - /bin/bash ./gitlab-ci/pullImage.sh "dev" "microservice-alpine"
  - /bin/bash ./gitlab-ci/releaseImage.sh "dev" "microservice-alpine" "$CI_REGISTRY_IMAGE" "" "-" "" "false" "latest"  ""

release-feature-microservice-arch:
  stage: release
  script:
  - /bin/bash ./gitlab-ci/preReleaseHook.sh
  - /bin/bash ./gitlab-ci/pullImage.sh "dev" "microservice-arch"
  - /bin/bash ./gitlab-ci/releaseImage.sh "dev" "microservice-arch" "$CI_REGISTRY_IMAGE" "" "-" "" "false" "latest"  ""

release-feature-microservice-debian:
  stage: release
  script:
  - /bin/bash ./gitlab-ci/preReleaseHook.sh
  - /bin/bash ./gitlab-ci/pullImage.sh "dev" "microservice-debian"
  - /bin/bash ./gitlab-ci/releaseImage.sh "dev" "microservice-debian" "$CI_REGISTRY_IMAGE" "" "-" "" "false" "latest"  ""

Minor mod to test Ci/CD
  microservice-alpine/Dockerfile
Due: build-feature-microservice-alpine, release-feature-microservice-alpine

CI/CD modifications for microservice builds
  .gitlab-ci.yml
Due: none

Updated CI/CD and fixec MariaDB config on alpine
  .gitlab-ci.yml
  alpine/Dockerfile
  fake-buildImage.sh
  official/Dockerfile
Due: none

Minor updates for build tests.
  fake-buildImage.sh
  fake-releaseImage.sh
Due: none

Enhancements to CI/CD config
  .gitlab-ci.yml
  fake-buildImage.sh
  fake-environment.env
  fake-releaseImage.sh
Due: none

Bugfix microservice CI/CD config
  .gitlab-ci.yml
Due: none

Workaround / bugfix for issue #10.
  docker-entrypoint.microservice.sh
Due: build-feature-microservice-alpine, build-feature-microservice-arch, build-feature-microservice-debian, release-feature-microservice-alpine, release-feature-microservice-arch, release-feature-microservice-debian

Path conditions:
  build-feature-microservice-alpine: any of: docker-entrypoint.microservice.sh, pm2Shinobi.yml, sql/*, tools/*, microservice-alpine/*
  build-feature-microservice-arch: any of: docker-entrypoint.microservice.sh, pm2Shinobi.yml, sql/*, tools/*, microservice-arch/*
  build-feature-microservice-debian: any of: docker-entrypoint.microservice.sh, pm2Shinobi.yml, sql/*, tools/*, microservice-debian/*
  release-feature-microservice-alpine: any of: docker-entrypoint.microservice.sh, pm2Shinobi.yml, sql/*, tools/*, microservice-alpine/*
  release-feature-microservice-arch: any of: docker-entrypoint.microservice.sh, pm2Shinobi.yml, sql/*, tools/*, microservice-arch/*
  release-feature-microservice-debian: any of: docker-entrypoint.microservice.sh, pm2Shinobi.yml, sql/*, tools/*, microservice-debian/*
